@model JourList.Models.TransactionModel

@{
    ViewBag.Title = "Check in Acquired Items";
}

<h2>Add</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jltools.js")" type="text/javascript"></script>

<script type ="text/javascript">
    $(document).ready(function () {
    //Prepare jtable plugin
        $('#ShoppingListTable').jtable({
            columnSelectable: false,
            selecting: true, //Enable selecting
            multiselect: false, //Allow multiple selecting
            selectingCheckboxes: false, //Show checkboxes on first column
            title: 'Shopping List',
            actions: {
                listAction: '/Inventory/JsonShoppingList'
                //,deleteAction: '/Inventory/DeleteShoppingList'
                //,updateAction: '/Inventory/UpdateShoppingList'
                //,createAction: '/DataManagement/CreateShoppingList'
            },
            fields: {
                InvId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Description: {
                    list: true,
                    edit: false,
                    title: 'Description',
                    width: '40%'
                },
                Units: {
                    list: false,
                    edit: false,
                    title: 'Units',
                    defaultValue: ''
                },
                Quantity: {
                    edit: false,
                    list: false,
                    title: 'Quantity',
                    width: '10%',
                    //options: '/Options/ItemCategories'
                },
                Size: {
                    edit: false,
                    list: false,
                    title: 'Size',
                    defaultValue: '0'
                },
                InCart: {
                    edit: false,
                    list: false,
                    title: 'Unit Type',
                    width: '10%',
                    options: '/Options/UnitTypes'
                }
            },
            //Register to selectionChanged event
            selectionChanged: function () {
                //Get all selected rows
                var $selectedRows = $('#ShoppingListTable').jtable('selectedRows');

                if ($selectedRows.length > 0) {
                    //Show selected rows
                    $selectedRows.each(function () {
                        var data = $(this).data('record');
                        $.ajax({
                            url: '/Inventory/NewTransaction',
                            type: 'POST',
                            dataType: 'json',
                            data: {'InvId': data.InvId, "ActionId" : @Model.ActionId},
                            async: true,
                            success:function (data) {
                                        if (data.Result != "OK") {
                                            alert("Add Error:" + data.Message);
                                        }
                                        else {
                                            $.each(data.Records, function (key, value) {
                                                $('[name=' + key + ']', '#AddForm').val(value);
                                            });
                                        $('#Cost').val(todollar($('#Cost').val()));
                                        };
                                    },
                            error: function () { alert("Error retrieving barcode."); }
                        });
                    });
                } else {
                    //No rows selected
                    $('#SelectedRowList').append('No row selected! Select rows to see here...');
                }
            }
        });

        //Load activity list from server
        $('#ShoppingListTable').jtable('load');
    });
</script>
<div id="ShoppingListTable"  style="
    float: left;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    ">
</div>

<div id="SearchDiv" class="ui-widget">
    <input type="text" name="SearchBox" id="SearchBox" autocomplete="on" />
</div>

@Html.EditorFor(z => z)

<div style="clear: both;"></div>

<script src="../../Scripts/Tables/TransactionTable.js" type="text/javascript"></script>

<p>Date: <input type="text" id="transdatepicker" value="@DateTime.Today.ToString("MM/dd/yyy")"></p>
<div id="TransactionTable"  style="
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    ">
</div>
